body 
	{
	margin-right: 30px;
	}
p.cover
{
	text-align:center;
	margin-top:1em;
	margin-bottom:2em;
}
img.cover
{
	height:100%;
}
.imagefix
{
	max-width:100%;
}
.image-a
{
	text-align:center;
	margin-top:0em;
	margin-bottom:0em;
	margin-left:0em;
}
.image
{
	text-align:center;
	margin-top:0em;
	margin-bottom:1em;
	margin-left:0em;
}
.image-3
{
	text-align:center;
	margin-top:0em;
	margin-bottom:2em;
	margin-left:0em;
}
.image-4
{
	text-align:center;
	margin-top:0em;
	margin-bottom:4em;
	margin-left:0em;
}
.image-1
{
	text-align:center;
	margin-top:0em;
	margin-bottom:1.5em;
	margin-left:0em;
}
.image-1c
{
	text-align:center;
	margin-top:0em;
	margin-bottom:1.5em;
	margin-left:1em;
	text-indent:-1em;
}
.image-2
{
	text-align:center;
	margin-top:1em;
	margin-bottom:1em;
	margin-left:0em;
}
.h1
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:center;
	margin-top:5em;
	margin-bottom:10em;
	margin-left:0em;
}
.bkauthor
{
	font-family:serif;
	font-size:large;
	font-weight:normal;
	margin-top:1.5em;
	margin-bottom:10em;
	text-align:center;
	text-indent:0em;
}
.bkpublisher
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	margin-top:0em;
	margin-bottom:0em;
	text-align:center;
	text-indent:0em;
}
.bkpublisher-1
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	margin-top:0em;
	margin-bottom:0em;
	text-align:center;
	text-indent:0em;
}
.cpytxt-1
{
	font-family:serif;
	font-size:medium;
	font-weight:normal;
	margin-top:1.5em;
	margin-bottom:0em;
	margin-left:0em;
	text-align:left;
	text-indent:0em;
}
.cpytxt
{
	font-family:serif;
	font-size:x-small;
	font-weight:normal;
	margin-top:1em;
	margin-bottom:0em;
	margin-left:0em;
	text-align:left;
	text-indent:0em;
}
.cpytxt-a
{
	font-family:serif;
	font-size:90%;
	font-weight:normal;
	margin-top:0em;
	margin-bottom:0em;
	margin-left:0em;
	text-align:left;
	text-indent:0em;
}
.toc-entry-a
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	margin-top:0em;
	margin-bottom:0em;
	margin-left:0em;
	text-align:left;
	text-indent:0em;
        
}
.toc-entry-1
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	margin-top:1.5em;
	margin-bottom:0em;
	margin-left:0em;
	text-align:left;
	text-indent:0em;
        
}
.toc-entry-2
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	margin-top:3em;
	margin-bottom:0em;
	margin-left:0em;
	text-align:left;
	text-indent:0em;
        
}
.dedication
{
	font-family:serif;
	font-size:small;
	margin-top:0em;
	margin-bottom:0.5em;
	text-align:left;
	text-indent:0em;
}
.dedication-1
{
	font-family:serif;
	font-size:small;
	margin-top:5em;
	margin-bottom:1em;
	text-align:left;
	text-indent:0em;
}
.h2
{
	font-family:serif;
	font-size:x-large;
	font-weight:bold;
	text-align:center;
	margin-top:2em;
	margin-bottom:0.7em;
	margin-left:0em;
}
.h2a
{
	font-family:serif;
	font-size:large;
	font-weight:normal;
	text-align:center;
	margin-top:0em;
	margin-bottom:4em;
	margin-left:0em;
}
.h2b
{
	font-family:serif;
	font-size:large;
	font-weight:normal;
	text-align:center;
	margin-top:0em;
	margin-bottom:0.5em;
	margin-left:0em;
}
.h3
{
	font-family:serif;
	font-size:medium;
	font-weight:normal;
	text-align:center;
	margin-top:0em;
	margin-bottom:4em;
	margin-left:0em;
}
.h2-a
{
	font-family:serif;
	font-size:medium;
	font-weight:normal;
	text-align:center;
	margin-top:2em;
	margin-bottom:0em;
	margin-left:0em;
}
.h2-b
{
	font-family:serif;
	font-size:x-large;
	font-weight:normal;
	text-align:center;
	margin-top:2em;
	margin-bottom:0.7em;
	margin-left:0em;
}
.h2-d
{
	font-family:serif;
	font-size:large;
	font-weight:normal;
	text-align:center;
	margin-top:2em;
	margin-bottom:0em;
	margin-left:0em;
}
.h2-c
{
	font-family:serif;
	font-size:medium;
	font-weight:normal;
	text-align:center;
	margin-top:2em;
	margin-bottom:2em;
	margin-left:0em;
}
.h4
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:center;
	margin-top:0em;
	margin-bottom:1em;
	margin-left:0em;
}
.h4a
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:center;
	margin-top:1em;
	margin-bottom:1em;
	margin-left:0em;
}
.normal
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:justify;
	margin-top:0em;
	margin-bottom:1em;
	margin-left:0em;
}
.normal-b
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:justify;
	margin-top:0em;
	margin-bottom:0.5em;
	margin-left:0em;
}
.normal-c
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:justify;
	margin-top:0.5em;
	margin-bottom:0em;
	margin-left:0em;
}
.normal-4
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:justify;
	margin-top:4em;
	margin-bottom:0em;
	margin-left:0em;
}
.normal-1
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:justify;
	margin-top:0em;
	margin-bottom:2em;
	margin-left:0em;
}
.normal-a
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:justify;
	margin-top:0em;
	margin-bottom:0em;
	margin-left:0em;
	text-indent:0em;
}
.normal-2
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:justify;
	margin-top:0em;
	margin-bottom:2.5em;
	margin-left:0em;
}
.bodytext
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:justify;
	margin-top:0em;
	margin-bottom:0em;
	margin-left:0em;
	text-indent:1.5em;
}
.bodytext-4
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:justify;
	margin-top:0em;
	margin-bottom:5em;
	margin-left:0em;
	text-indent:1.5em;
}
.bodytext-1
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:justify;
	margin-top:0em;
	margin-bottom:1em;
	margin-left:0em;
	text-indent:1.5em;
}
.bodytext-1b
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:justify;
	margin-top:0em;
	margin-bottom:1.5em;
	margin-left:0em;
	text-indent:1.5em;
}
.bodytext-b
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:justify;
	margin-top:0em;
	margin-bottom:0.5em;
	margin-left:0em;
	text-indent:1.5em;
}
.bodytext-2
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:justify;
	margin-top:0em;
	margin-bottom:3em;
	margin-left:0em;
	text-indent:1.5em;
}
.bodytext-3
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:justify;
	margin-top:0em;
	margin-bottom:3em;
	margin-left:0em;
	text-indent:1.5em;
}
.bodytext-center-a
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:center;
	margin-top:0em;
	margin-bottom:0em;
	margin-left:0em;
	text-indent:0em;
}
.bodytext-center
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:center;
	margin-top:0em;
	margin-bottom:1em;
	margin-left:0em;
	text-indent:0em;
}
.bodytext-center-b
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:center;
	margin-top:0em;
	margin-bottom:0.5em;
	margin-left:0em;
	text-indent:0em;
}
.bodytext-center-1
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:center;
	margin-top:0em;
	margin-bottom:1.5em;
	margin-left:0em;
	text-indent:0em;
}
.bodytext-center-2
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:center;
	margin-top:0em;
	margin-bottom:2em;
	margin-left:0em;
	text-indent:0em;
}
.bodytext-center-7
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:center;
	margin-top:7em;
	margin-bottom:2em;
	margin-left:0em;
	text-indent:0em;
}
.bodytext-center-4
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:center;
	margin-top:3em;
	margin-bottom:0em;
	margin-left:0em;
	text-indent:0em;
}
.normal-div
{
	font-family:serif;
	font-size:x-small;
	font-weight:normal;
	text-align:justify;
	margin-top:0em;
	margin-bottom:1.5em;
	margin-left:1em;
	margin-right:1em;
	text-indent:0em;
}
.normal-div-a
{
	font-family:serif;
	font-size:x-small;
	font-weight:normal;
	text-align:justify;
	margin-top:0em;
	margin-bottom:0em;
	margin-left:1em;
	margin-right:1em;
	text-indent:0em;
}
.normal-div-1
{
	font-family:serif;
	font-size:x-small;
	font-weight:normal;
	text-align:justify;
	margin-top:0em;
	margin-bottom:1em;
	margin-left:1em;
	margin-right:1em;
	text-indent:0em;
}
.normal-div-2
{
	font-family:serif;
	font-size:x-small;
	font-weight:normal;
	text-align:justify;
	margin-top:0em;
	margin-bottom:2em;
	margin-left:1em;
	margin-right:1em;
	text-indent:0em;
}
.poem
{
	font-family:serif;
	font-size:x-small;
	font-weight:normal;
	text-align:justify;
	margin-top:0em;
	margin-bottom:0em;
	margin-left:0em;
	text-indent:2em;
}
.poem-1
{
	font-family:serif;
	font-size:x-small;
	font-weight:normal;
	text-align:justify;
	margin-top:0em;
	margin-bottom:1em;
	margin-left:0em;
	text-indent:2em;
}
.poem-2
{
	font-family:serif;
	font-size:x-small;
	font-weight:normal;
	text-align:center;
	margin-top:0em;
	margin-bottom:1em;
	margin-left:0em;
	text-indent:0em;
}
.bodytext-right-a
{
	font-family:serif;
	font-weight:normal;
	font-size:small;
	margin-top:0em;
	margin-bottom:0em;
	text-align:right;
	text-indent:0em;
	margin-right:0em;
}
.bodytext-right
{
	font-family:serif;
	font-weight:normal;
	font-size:small;
	margin-top:0em;
	margin-bottom:1em;
	text-align:right;
	text-indent:0em;
	margin-right:0em;
}
.bodytext-center-1
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:center;
	margin-top:1em;
	margin-bottom:0em;
	margin-left:0em;
	text-indent:0em;
}
.bodytext-center-3
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:center;
	margin-top:2em;
	margin-bottom:1.5em;
	margin-left:0em;
	text-indent:0em;
}
.h3-a
{
	font-family:serif;
	font-size:medium;
	font-weight:normal;
	text-align:center;
	margin-top:2.5em;
	margin-bottom:0.5em;
	margin-left:0em;
	text-indent:0em;
}
.h3-b
{
	font-family:serif;
	font-size:medium;
	font-weight:normal;
	text-align:center;
	margin-top:1.5em;
	margin-bottom:0.5em;
	margin-left:0em;
	text-indent:0em;
}
span.smallcaps
{
	font-family:serif;
	font-size:75%;
}
span.dropcap
{
	font-family:serif;
	font-weight:normal;
	font-size:200%;
	line-height:0.8em;		
}
.nondec
{
	text-decoration:underline;
	color: #000000;
}
.caption
{
	font-family:serif;
	font-size:medium;
	font-weight:normal;
	text-align:center;
	margin-top:0em;
	margin-bottom:1em;
	margin-left:0em;
	text-indent:0em;
}
span.font
{
	font-family:serif;
	font-size:185%;
	font-weight:normal;
	text-align:justify;
	margin-top:0em;
	margin-bottom:0em;
	margin-left:0em;
	text-indent:0em;
}
.normal-t
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:justify;
	margin-top:4em;
	margin-bottom:0em;
	margin-left:0em;
	text-indent:0em;
}
.hangindent
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:justify;
	margin-top:0em;
	margin-bottom:0em;
	margin-left:1em;
	text-indent:-1em;
}
.hangindent-b
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:justify;
	margin-top:0.5em;
	margin-bottom:0em;
	margin-left:1em;
	text-indent:-1em;
}

.normal-a1
{
	font-family:serif;
	font-size:small;
	font-weight:normal;
	text-align:justify;
	margin-top:1em;
	margin-bottom:0em;
	margin-left:0em;
	text-indent:0em;
}